.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #639;
    border-top: 0;
    font-size: max(1vw, 10px);
}

.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #639;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

.sidebar-option p{
    color: #4B0082;
}

.sidebar-option.active{
    background-color: lavender;
    border-color: #4B0082;
}

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}